<% if message.visible %>
  <div class="message <%= message.role %> w-full p-4 <%= "highlight" if params[:message] == message.id %>">
    <div class="text-lg xl:max-w-[80%] mx-auto flex items-start gap-6">
      <div class="flex-shrink-0 relative h-[36px] w-[36px] rounded-md  text-white flex items-center justify-center mt-1 bg-gray-800">
        <img src="<%= message.sender_image_url %>" alt="" class="object-fit rounded-md">
      </div>
      <div class="flex-1 max-w-full relative min-h-[40px]">
        <% if message.content.blank? %>
          <%= render "loading" %>
        <% else %>
          <%= tag.div(markdown(message.content)) %>
          <%= tag.div(message.content, id: dom_id(message, :content), class: "hidden") %>
          <div class="text-gray-500 text-xs">
            <%= "#{distance_of_time_in_words_to_now(message.updated_at)} ago" %>
            ・ <%= message.tokens_count %> tokens
            ・ <span class="cursor-pointer" data-controller="clipboard" data-action="click->clipboard#target" data-target="<%= dom_id(message, :content) %>">copy message content</span>
            <% if params[:message] == message.id %><span data-controller="scroll" data-action="scroll#scroll"></span><% end %>
          </div>
        <% end %>
      </div>
      <% if current_admin? %>
        <div class="text-xs p-2 cursor-pointer" data-reflex="click->Message#destroy" data-id="<%= message.id %>">🗑</div>
      <% end %>
    </div>
  </div>
<% elsif current_user && current_user.admin? && message.chat.settings.show_invisibles %>
  <div class="message <%= message.role %> w-full p-4 opacity-75 text-gray-500" style="background-color: #cccccc; border-top: 1px solid gray">
    <div class="text-lg xl:max-w-[80%] mx-auto flex items-start gap-6">
      <div class="flex-shrink-0 relative h-[36px] w-[36px] rounded-md flex items-center justify-center mt-1 bg-gray-800">
        <img src="<%= message.sender_image_url %>" alt="" class="object-fit rounded-md">
      </div>
      <div class="flex-1 max-w-full relative min-h-[40px] text-gray-500 ">
        <% if message.content.blank? %>
          <%= render "loading" %>
        <% else %>
          <code class="text-xs whitespace-break-spaces"><%= message.content %></code>
          <div class="text-gray-500 text-xs">
            <%= "#{distance_of_time_in_words_to_now(message.updated_at)} ago" %>
            ・ <%= message.tokens_count %> tokens
          </div>
        <% end %>
      </div>
      <% if current_admin? %>
        <div class="text-xs p-2 cursor-pointer" data-reflex="click->Message#destroy" data-id="<%= message.id %>">🗑</div>
      <% end %>
    </div>
  </div>
<% end %>
