<div class="py-2 space-y-2">
  <% if @conversation.analysis[:summary].present? %>
    <div>
      <label class="mb-1"><%= it("Summary") %></label>
      <p class="text-sm text-gray-400 sm:max-w-prose"><%= @conversation.analysis[:summary] %></p>
    </div>
  <% end %>
  <% unless @conversation.tags.empty? %>
    <div>
      <label class="mb-2"><%= it("Tags") %></label>
      <div>
        <% @conversation.tags.each do |tag| %>
          <span class="bg-gray-700/50 pb-[3px] px-2 rounded text-gray-400 inline-block mb-1"><%= tag %></span>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="text-xs text-gray-500"><%= @conversation.total_token_count %> tokens consumed in this conversation</div>
</div>
