<div class="space-y-4">

  <div class="bg-slate-800 p-3 flex justify-between items-center">
    <h1 class="text-xl sm:text-2xl font-medium"><%= it("Conversations") %></h1>
    <%= link_to it("New"), new_conversation_path, class:"bg-magma-red-400 text-gray-100 hover:scale-105 py-1 px-2 rounded", title: "New conversation" %>
  </div>

  <div class="flex justify-end px-3 items-center gap-3">
    <%= form_for :search, url: "/conversations/search", class: "relative" do |f| %>
      <input type="text" placeholder="<%= it("Search...") %>" autocomplete="off" name="q" class="rounded-md bg-gray-300 border-gray-200 border-2 text-gray-800 p-1 w-32 focus:w-52 focus:bg-gray-100 transition-all">
      <div class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-800"><%= heroicon "magnifying-glass" %></div>
    <% end %>
    <div data-controller="visibility" class="bg-gray-500 p-2 rounded-md text-gray-300">
      <%= heroicon "funnel" %>
    </div>
  </div>

  <div class="flex flex-col gap-2 px-3 pb-12">
    <% @conversations.each do |conversation| %>
      <div class="flex justify-between items-bottom card clickable-region">
        <div class="flex flex-1 gap-2 items-center p-4">
          <div class="flex flex-col">
            <div class="text-gray-800 font-medium"><%= link_to conversation.title, [conversation], class: "region-link" %></div>
            <% if conversation.summary.present? %>
              <div class="text-sm text-gray-600">
                <%= truncate conversation.summary, length: 200 %>
                <% conversation.tags.each do |tag| %>
                  <%= link_to "##{tag}", tag_path(tag) %>&nbsp;
                <% end %>
              </div>
            <% end %>
            <div class="text-xs text-gray-500 mt-1">
              <%= conversation.created_at.strftime("%b %d, %Y") %> -
              <%# TODO: added a counter cache to conversation %>
              <%= conversation.messages.count %> <%= it("messages with").downcase %>
              <%= conversation.bot.name %>,  <%= it(conversation.bot.role) %>
            </div>
          </div>
        </div>
        <div class="flex gap-2 items-center relative w-28">
          <%= image_tag(conversation.bot.image_url, class: "h-full object-cover") %>
        </div>
      </div>
    <% end %>
  </div>

</div>
