<div class="space-y-4">

  <div class="p-3 sm:p-4 flex justify-between items-center">
    <h1 class="text-xl text-gray-300 font-medium"><%= it("Conversations") %></h1>
    <div class="flex gap-3 sm:gap-4">
      <%= form_for :search, url: "/conversations/search", class: "relative" do |f| %>
        <input type="text" placeholder="<%= it("Search...") %>" name="q" class="rounded-md bg-gray-300 focus:bg-gray-100 text-gray-800 p-1 w-32">
        <div class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-800"><%= heroicon "magnifying-glass" %></div>
      <% end %>
      <%= link_to it("New"), new_conversation_path, class:"bg-magma-red-400 text-gray-100 hover:scale-105 py-1 px-2 rounded", title: "New conversation" %>
    </div>
  </div>

  <div class="p-3 space-y-8">
  <% @latest_conversations.group_by(&:bot_id).each do |_, conversations| %>
    <div>
      <div class="flex items-end mb-3 gap-2">
        <%= image_tag conversations.first.bot.image_url, class: "bg-gray-700 rounded-md w-12" %>
        <div class="text-md font-medium text-gray-200"><%= [conversations.first.bot.name, it(conversations.first.bot.role).presence].compact.join(", ") %></div>
      </div>
      <div class="space-y-3">
        <%= render conversations %>
      </div>
    </div>
  <% end %>
  </div>

</div>
