<div class="p-4">
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
    <%= render Bot.published.order(:name) %>
    <%= render Bot.unpublished if current_admin? %>
  </div>

  <div class="w-full p-4">
    <%= form_with model: @conversation do |f| %>
      <%= f.hidden_field :bot_id %>
      <%= f.text_field :first_message, class: "w-full rounded-md bg-gray-700 text-white", data: { controller: "conversation focus", action: "change->conversation#submit" } %>
    <% end %>
  </div>
</div>
