<div class="space-y-3 bg-gray-700 h-full">
  <%= form_for :search, url: "/conversations/search", class: "flex justify-between items-center gap-4 shadow sticky top-0 z-50 bg-slate-800 p-3" do |f| %>
    <input type="text" name="q" value="<%= @search.query %>" onchange="this.parentNode.submit()"
           data-controller="focus" autocomplete="off" placeholder="Search..."
           class="rounded-md border-gray-200 border-2 text-gray-800 p-1 flex-1 bg-white pr-12">
    <div class="absolute right-5 opacity-60 cursor pointer">🔎</div>
  <% end %>
  <div class="flex flex-col gap-3 px-3 pb-12">
    <div class="p-1 italic text-gray-300">
      Found <%= @search.results.count %> conversations matching&nbsp;
      <strong><%= @search.query %></strong>
    </div>
    <%= render @search.results %>
  </div>
</div>
