<% content_for :meta do %>
  <% if @conversation.public_access? %>
    <meta property="og:title" content="<%= @conversation.title %>">
    <meta property="og:description" content="<%= @conversation.summary %>">
    <meta property="og:image" content="<%= @conversation.bot.image_url %>">
    <meta property="og:url" content="<%= readonly_url(@conversation) %>">
    <meta property="og:site_name" content="Magma Chat by MagmaLabs">
    <meta property="og:type" content="website">
    <meta property="og:author" content="<%= @conversation.user.name %>">
  <% end %>
<% end %>

<div class="grow flex flex-col">
  <%= cable_ready_updates_for @conversation, :messages, html_options: { class: "grow flex flex-col gap-0 mb-24", data: { controller: "newmessage" } } do %>
    <%= render @conversation.messages.order(:updated_at) %>
    <% unless params[:message] || action_name["readonly"] %><span data-controller="scroll" data-action="scroll#scroll"></span><% end %>
  <% end %>

  <%= render "conversations/footer" if current_user == @conversation.user %>
</div>

<% content_for :sidebar_prepend do %>
  <div class="p-2 sm:p-3 space-y-4">

    <h2 class="text-md text-gray-300"><%= @conversation.title %></h2>

    <%= link_to @conversation.bot, class:'flex items-center gap-2' do %>
      <%= image_tag @conversation.bot.image_url, class: "rounded-md w-16 bg-gray-600" %>
      <div>
        <div class="text-gray-200"><%= @conversation.bot.name %></div>
        <div class="text-sm text-gray-400"><%= @conversation.bot.role %></div>
      </div>
    <% end %>

    <div class="flex items-center gap-2">
      <%= image_tag @conversation.user.image_url, class: "rounded-md w-12 bg-gray-600" %>
      <p class="text-gray-300 text-sm"><%= @conversation.user.name %></p>
    </div>

    <%= cable_ready_updates_for @conversation, html_options: { class: "analysis text-sm space-y-2 w-full text-gray-300 flex flex-col gap-2", } do %>
      <%= render "analysis" if @conversation.analysis.present? %>
    <% end %>

  </div>
<% end %>

