<% content_for :meta do %>
  <% if @conversation.public_access? %>
    <meta property="og:title" content="<%= @conversation.title %>">
    <meta property="og:description" content="<%= @conversation.summary %>">
    <meta property="og:image" content="<%= @conversation.bot.image_url %>">
    <meta property="og:url" content="<%= readonly_url(@conversation) %>">
    <meta property="og:site_name" content="Magma Chat by MagmaLabs">
    <meta property="og:type" content="website">
    <meta property="og:author" content="<%= @conversation.user.name %>">
  <% end %>
<% end %>

<div class="grow flex flex-col">
  <%= cable_ready_updates_for @conversation, :messages, html_options: { class: "grow flex flex-col gap-0 mb-24", data: { controller: "newmessage" } } do %>
    <%= render @conversation.messages.order(:updated_at) %>
    <% unless params[:message] || action_name["readonly"] %><span data-controller="scroll" data-action="scroll#scroll"></span><% end %>
  <% end %>

  <%= render "conversations/footer" if current_user == @conversation.user %>
</div>

<% content_for :sidebar_prepend do %>
  <div class="p-2 sm:p-3">
    <div class="bg-gray-700 rounded-md overflow-hidden">

      <%= image_tag @conversation.bot.image_url, class: "bg-gray-600" %>

      <div class="p-2 space-y-4" >

        <div>
          <div class="flex items-center gap-2">
            <%= link_to @conversation.bot.name, [@conversation.bot], class: "text-gray-200 text-lg" %>
            <%= link_to heroicon("cog"), [:admin, @conversation.bot] if current_user&.admin? %>
          </div>
          <div class="text-gray-400"><%= @conversation.bot.role %></div>
        </div>

        <% if (current_user != @conversation.user) %>
          <div>
            <label>User</label>
            <p><%= @conversation.user.name %></p>
          </div>
        <% end %>

        <%= cable_ready_updates_for @conversation, html_options: { class: "analysis text-sm space-y-2 w-full text-gray-300 flex flex-col gap-2", } do %>

          <%= render "analysis" if @conversation.analysis.present? %>

          <div class="text-xs text-gray-500">
            <%= @conversation.total_token_count %> tokens consumed in this conversation
          </div>

        <% end %>

      </div>

    </div>
  </div>
<% end %>

