<div class="card flex cursor-pointer border-2 px-4 items-end relative">
  <div class="max-w-[160px] absolute bottom-0">
    <%= image_tag bot.image_url, class: "object-fit -ml-8" %>
  </div>
  <div class="flex flex-col gap-1 p-2 h-full w-64 ml-[130px]">
    <div class="text-gray-800 font-bold">
      <a href="/bots/<%= bot.id.presence || 'new' %>" class="region-link"><%= bot.name %></a>
    </div>
    <div class="text-sm text-gray-700">
      <%= bot.intro %>
    </div>
    <div class="text-xs italic text-gray-700">
      <%= truncate bot.directive, length: 200 %>
    </div>
  </div>
</div>
