<div class="flex flex-wrap gap-4 p-8">
  <%= render Bot.default %>
  <%= render Bot.others %>
</div>

<% content_for :right do %>
  <div class="w-[20%]">

  </div>
<% end %>

<% content_for :footer do %>
    <div class="w-full p-4">
      <%= form_with model: @chat do |f| %>
        <%= f.hidden_field :bot_id %>
        <%= f.hidden_field :engine, value: "gpt-3.5-turbo" %>
        <%= f.text_field :first_message, class: "w-full rounded-md bg-gray-700 text-white",
                                   data: {controller: "chat focus", action: "change->chat#submit"} %>
    <% end %>
  </div>

<% end %>
