<div class="hidden sm:flex justify-between items-center gap-4 shadow sticky top-0 z-50 bg-slate-800 p-4">
  <h1 class="text-2xl font-medium">New Chat</h1>
</div>
<div class="grid xl:grid-cols-3 gap-4 p-4">
  <%= render Bot.published.order(:name) %>
  <%= render Bot.unpublished if current_admin? %>
</div>

<% content_for :footer do %>
    <div class="w-full p-4">
      <%= form_with model: @chat do |f| %>
        <%= f.hidden_field :bot_id %>
        <%= f.text_field :first_message, class: "w-full rounded-md bg-gray-700 text-white", data: { controller: "chat focus", action: "change->chat#submit" } %>
    <% end %>
  </div>
<% end %>
