<%= cable_ready_updates_for @chat, html_options: { class: "flex flex-col gap-0" } do %>
  <% @chat.transcript.each_with_index do |message, index| %>
    <div class="message <%= message[:role] %> w-full p-4 <%= "highlight" if params[:message] == index.to_s %>">
      <div class="text-lg sm:max-w-[70%] mx-auto flex items-start gap-6">
        <% if message[:role]["user"] %>
          <div class="flex-shrink-0 relative h-[36px] w-[36px] rounded-sm text-white flex items-center justify-center mt-1">
            <img src="<%= message.dig(:user, :image_url) %>" alt="" class="object-fit rounded-md">
          </div>
        <% else %>
          <div class="relative h-[36px] w-[36px] rounded-md text-white flex items-center justify-center mt-1" style="background-color: rgb(16, 163, 127);">
            <%= image_tag @chat.bot.image_url, class: "object-cover" %>
          </div>
        <% end %>
        <div class="flex-1 max-w-full">
          <%= markdown(message[:content]) %>
          <div class="text-gray-500 text-xs">
            <%= message.dig(:user, :name) %>
            <%= "#{distance_of_time_in_words_to_now(Time.at(message.dig(:timestamp)))} ago" if message.dig(:timestamp) %>
            <% if params[:message] == index %><span data-controller="scroll" data-action="scroll#scroll"></span><% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="message pt-10 pl-16">
    <div id="loading" class="text-lg sm:max-w-[70%] mx-auto flex items-start gap-6 relative"><%# = render "loading" %></div>
  </div>
  <% unless params[:message] || action_name["readonly"] %><span data-controller="scroll" data-action="scroll#scroll"></span><% end %>
<% end %>

<% if @chat.public_access && current_user == @chat.user %>
<div class="absolute text-[9vw] text-red-600 opacity-20 font-black z-40 top-[20%] left-[20%] -rotate-45 text-center">
  <div class="my-auto">PUBLIC<br>ACCESS</div>
</div>
<% end %>

<% content_for :right do %>
  <%= cable_ready_updates_for @chat, html_options: { class: "p-4 analysis text-sm space-y-2 w-full h-full text-gray-300 flex flex-col gap-2 z-10 absolute" } do %>
    <div>
      <label>Title</label>
      <%= @chat.title %>
    </div>
    <% unless @chat.analysis.blank? %>
      <% unless @chat.analysis[:summary].blank? %>
        <div>
          <label>Summary</label>
          <%= @chat.analysis[:summary] %>&nbsp;
        </div>
      <% end %>
      <% unless true || @chat.analysis[:sentiment].blank? %>
        <div>
          <label>Sentiment</label>
          <%= @chat.analysis[:sentiment]&.titleize %>&nbsp;
        </div>
      <% end %>
      <% unless true || @chat.analysis[:language].blank? %>
        <div>
          <label>Language</label>
          <%= @chat.analysis[:language] %>&nbsp;
        </div>
      <% end %>
      <% unless @chat.tags.empty? %>
        <div>
          <label class="mb-1">Tags</label>
          <div>
            <% @chat.tags.each do |tag| %>
              <span class="tag"><%= tag %></span>
            <% end %>
          </div>
        </div>
      <% end %>
      <% unless @chat.analysis_next.empty? %>
        <div>
          <label class="mb-1">Suggestions</label>
          <% @chat.analysis_next.each do |sugg| %>
            <div data-id="<%= @chat&.id %>" data-value="<%= sugg %>"
                 <% if current_user %>data-reflex="click->Chat#suggested"<% end %>
                 class="cursor-pointer hover:text-white mb-2">
                <%= sugg %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%= image_tag @chat.bot.image_url, class: "object-fit absolute bottom-0 opacity-60" %>
  <div class="absolute bottom-0 text-xs sm:text-sm lg:text-base p-3 tracking-widest font-bold text-center w-full bg-opacity-30 bg-gradient-to-t from-black to-transparent  shadow text-white"><%= @chat.bot.name %></div
<% end %>

<% content_for :footer do %>
  <%= render "chats/footer" if current_user %>
<% end %>
