<div class="card flex cursor-pointer border-4 px-4 w-full items-center xl:items-end relative"
     data-id="<%= bot.id %>" data-name="<%= bot.name %>"
     data-placeholder="<%= it("Start a new chat with #{bot.name}") %>"
     data-hello="<%= hello_in_user_language %>"
     data-controller="botselect" data-action="click->botselect#select">
  <div class="max-w-[140px]">
    <%= image_tag bot.image_url, class: "object-fit" %>
  </div>
  <div class="flex flex-col gap-1 p-4 h-full">
    <div class="text-gray-800 font-bold">
      <%= bot.name %>
      <% if current_user.admin? %>
        <%= link_to "ðŸ“", [bot] %>
      <% end %>
      <%= "(Draft)" if bot.published_at.blank? %>
      <div class="text-sm text-gray-500">
        <%= it(bot.role) %>
      </div>
    </div>
    <div class="text-sm text-gray-700"><%= it(truncate(bot.intro, length: 100)).html_safe %></div>
  </div>
</div>
