<nav class="p-2 order-first sm:w-[20%] bg-gray-800 bg-gradient-to-l from-gray-900 text-gray-300
     absolute sm:relative w-full h-12
     flex sm:flex-col sm:gap-3 items-center sm:items-start sm:h-screen
     sm:overflow-y-auto sm:max-h-screen sm:min-w-[250px]">

  <% if current_user && @latest_conversations %>
    <div class="text-base font-medium flex items-center gap-3 justify-between w-full sm:p-0">
      <%= link_to [:conversations], class: "flex gap-3 md:p-4" do %>
        <%= image_tag("nav_logo.svg", class: "h-6 xl:h-10 object-fit sm:m-auto") %>
      <% end %>
    </div>
    <div class="hidden sm:flex sm:flex-col gap-5 w-full overflow-y-auto h-full p-4">
      <a href="/conversations/new" class="text-gray-500 text-sm border bg-slate-800 border-gray-600 sm:-mt-2
               hover:border-gray-400 p-1 sm:mr-4 rounded-md hover:text-gray-200" title="New conversation"> 
        <%= it("New Conversation") %>
      </a>
      <% @latest_conversations.group_by(&:bot_id).each do |_, conversations| %>
        <div>
          <div class="flex items-end justify-between h-8 border-b border-gray-500 mb-1">
            <div class="font-medium">
              <%= [conversations.first.bot.name, it(conversations.first.bot.role).presence].compact.join(", ") %>
            </div>
            <%= image_tag conversations.first.bot.image_url, class: "w-12 object-cover -ml-3" %>
          </div>
          <%= render conversations %>
        </div>
      <% end %>
      <% if @latest_conversations.any? %>
        <label class="block text-gray-500 text-xs mb-2">
          <%= it("Displaying 10 most recent conversations...") %>
          <%= link_to it("see all"), conversations_path, class: " font-medium text-gray-400" %>
        </label>
      <% else %>
        <div class="text-gray-300 space-y-4">
          <p><%= it("Welcome to MagmaChat, the most advanced platform for interacting with OpenAI's GPT large language model.
               To begin, choose a bot and start a new conversation. Oh, and don't forget that you can
               change your default language preference in Settings (link below) if English is not your primary preference.") %></p>
          <p><%= it("Not ready to start chatting? You can also learn more about
                  <a href='https://magmalabs.io' target='_blank' class='text-magma-red font-bold'>MagmaLabs</a>
                  or check out the project source code on <a href='https://github.com/magma-labs/magma-conversation'
                  class='font-bold text-white' target='_blank'>Github</a>.").html_safe %>
        </div>
      <% end %>
    </div>

    <div class="hidden sm:block mt-auto text-sm px-1 bg-opacity-30 bg-gradient-to-t from-black to-transparent p-4 w-full">
      <div class="font-medium px-3 mb-1">
        <%= current_user.email %>
      </div>
      <div class="flex gap-2 px-3">
        <%= link_to it("Settings"), "/settings", class: "text-gray-400 hover:text-yellow-500 block" %>
        <%= link_to "Bots", "/admin/bots", class: "text-gray-400 hover:text-yellow-500 block" if current_admin? %>
        <%= link_to it("Sign out"), "/logout", class: "text-gray-400 hover:text-yellow-500 block" %>
      </div>
    </div>

    <div data-controller="visibility">

      <svg data-action="click->visibility#toggleTargets" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>

      <div class="hidden divide-y border-gray-700 absolute bg-gray-400 text-gray-700 shadow rounded-md overflow-hidden right-4 z-50" data-visibility-target="hideable">
        <%= link_to heroicon("arrow-right-on-rectangle") + " Logout", "/logout", class: "menu-item border-gray-500" %>
        <%= link_to heroicon("cog-8-tooth") + " Settings", "/settings", class: "menu-item border-gray-500" %>
      </div>
    </div>
  <% end %>
</nav>
