<% if current_user && @latest_chats %>
  <div class="text-base font-medium flex items-center gap-3 justify-between w-full sm:p-0">
    <%= link_to [:chats], class: "flex gap-3 p-4" do %>
      <%= image_tag("nav_logo.svg", class: "h-6 xl:h-10 object-fit sm:m-auto") %>
    <% end %>
    <a href="/chats/new" class="text-gray-500 text-sm border bg-slate-800 border-gray-600 sm:-mt-2
     hover:border-gray-400 p-1 sm:mr-4 rounded-md hover:text-gray-200" title="New chat">+&nbsp;<%= d("New") %>&nbsp;<span class="hidden xl:inline"><%= d("Chat") %></span></a>
  </div>
  <div class="hidden sm:flex sm:flex-col gap-5 w-full overflow-y-auto h-full p-4">
    <% @latest_chats.group_by(&:bot_id).each do |_, chats| %>
      <div>
        <div class="flex items-end justify-between h-8 border-b border-gray-500 mb-1">
          <div class="font-medium">
            <%= [chats.first.bot.name, d(chats.first.bot.role).presence].compact.join(", ") %>
          </div>
          <%= image_tag chats.first.bot.image_url, class: "w-12 object-cover -ml-3" %>
        </div>
        <%= render chats %>
      </div>
    <% end %>
    <label class="block text-gray-500 text-xs mb-2">
      <%= d("Displaying 10 most recent chats...") %>
      <%= link_to d("see all"), chats_path, class: " font-medium text-gray-400" %>
    </label>
  </div>

  <div class="hidden sm:block mt-auto text-xs px-1 bg-opacity-30 bg-gradient-to-t from-black to-transparent p-3 w-full">
    <div class="font-medium px-3 mb-1">
      <%= current_user.email %>
    </div>
    <div class="flex gap-2 px-3">
      <%= link_to "Settings", "/settings", class: "text-gray-400 hover:text-yellow-500 block" %>
      <%= link_to "Bots", "/bots", class: "text-gray-400 hover:text-yellow-500 block" if current_user.admin? %>
      <%= link_to "Sign out", "/logout", class: "text-gray-400 hover:text-yellow-500 block" %>
    </div>

  </div>
  <%= link_to "/logout", class: "sm:hidden text-gray-400 hover:text-gray-200 p-2" do %>
    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
          class="h-5 w-5" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 12L13 12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M18 15L20.913 12.087V12.087C20.961 12.039 20.961 11.961 20.913 11.913V11.913L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M16 5V4.5V4.5C16 3.67157 15.3284 3 14.5 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H14.5C15.3284 21 16 20.3284 16 19.5V19.5V19" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  <% end %>
<% end %>
