<div class="flex items-center gap-3 bg-gray-200 text-gray-800 p-1 px-3 rounded-md" data-id="<%= observation.id %>">
  <div class="flex-1 text-sm">
    <div class="font-medium">
      <%= observation.brief %>
    </div>
    <div class="text-xs text-gray-400">
      <%= l(observation.created_at, format: :long) %> ・
      <%= it("Observation about") %>
      <%= it(observation.subject_type) %> ・
      <%= it("Importance:") %>
      <%= observation.importance %>
    </div>
  </div>
  <div class="actions flex items-center gap-2">
  </div>
</div>
