<!DOCTYPE html>
<html class="dark">
  <head>
    <title>MagmaChat by MagmaLabs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= yield :meta %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="dark flex flex-col h-screen overflow-hidden" data-controller="sidebar">
    <%= render "header" if current_user %>
    <div class="flex grow relative overflow-y-auto">
      <%= render "sidebar" %>
      <main class="flex-1 flex flex-col overflow-y-auto bg-gray-600">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
